<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326837747334-qdn6nmp1dkfjgdog1qj0fqjaauod6oa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326837747334-qdn6nmp1dkfjgdog1qj0fqjaauod6oa0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>326837747334-hb2ghqs7j9a5ratc4k60vt0vghf040mq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBI8MtmJAi-MD3dduviOTyb_QGANIBnzYA</string>
	<key>GCM_SENDER_ID</key>
	<string>326837747334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcf.communications</string>
	<key>PROJECT_ID</key>
	<string>jasda-care-family</string>
	<key>STORAGE_BUCKET</key>
	<string>jasda-care-family.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326837747334:ios:a0ea239c3b60ef56df5b07</string>
</dict>
</plist>